.app {
  padding: 2rem;
}

.trade-group {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.trade-group {
  border-top: 2px solid #d3dce0;
}

.trade-group:last-child {
  border-bottom: 2px solid #d3dce0;
}

.trade-group:nth-child(even) {
  background: #f3f3f3;
}

.trade-group-heading {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trade-group-heading:hover {
  cursor: pointer;
}

.trade-group__toggle label {
  margin-bottom: 0;
}

.trade-group__config {
  margin-left: 3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  border-left: 1px solid #d3dce0;
  border-bottom: 1px solid #d3dce0;
}

.config-table {
  font-size: 12px;
  background: #fff;
}

.config-table * {
  font-size: inherit !important;
}

.config-table td,
.config-table th {
  padding: .625rem .75rem;
  vertical-align: middle;
}

.config-table th {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  white-space: nowrap;
}

.config-table input {
  padding: .3125rem .5rem;
}

.config-table select {
  padding: .3125rem 1rem .3125rem .5rem;
  height: 1.625rem;
}

.config-table select + svg {
  right: .125em;
}

.config-table .remove {
  vertical-align: middle;
  cursor: pointer;
}